<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {volist name="auth" id="v"}
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="{$v.name}">&#xe726;</i>
                    <cite>{$v.name}</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    {volist name="v.child" id="vo"}
                    <li>
                        <a onclick="xadmin.add_tab('{$vo.name}','{:url($vo.rules)}')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>{$vo.name}</cite></a>
                    </li>
                    {/volist}
                </ul>
            </li>
            {/volist}
        </ul>
    </div>
</div>